TicTacToe App/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
TicTacToe App/TicTacToe App/bin/roslyn/VBCSCompiler.exe
TicTacToe App/TicTacToe App/bin/roslyn/System.ValueTuple.dll
TicTacToe App/TicTacToe App/bin/roslyn/System.Security.Cryptography.Primitives.dll
TicTacToe App/TicTacToe App/bin/roslyn/System.Security.Cryptography.Algorithms.dll
TicTacToe App/TicTacToe App/bin/roslyn/System.Reflection.Metadata.dll
TicTacToe App/TicTacToe App/bin/roslyn/System.IO.FileSystem.dll
TicTacToe App/TicTacToe App/bin/roslyn/System.IO.FileSystem.Primitives.dll
TicTacToe App/TicTacToe App/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
TicTacToe App/TicTacToe App/bin/roslyn/System.Collections.Immutable.dll
TicTacToe App/TicTacToe App/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
TicTacToe App/TicTacToe App/bin/roslyn/Microsoft.CodeAnalysis.dll
TicTacToe App/TicTacToe App/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
TicTacToe App/TicTacToe App/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
TicTacToe App/.vs/Game App/v15/sqlite3/storage.ide
TicTacToe App/TicTacToe App/obj/Debug/TicTacToe App.dll
